<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link " href="/">Set up</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/angsyst">Platform</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/battle">Battles</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/results">Results</a>
  </li>

</ul>