<link rel="stylesheet" href="/setup-style.css">
<body>
    
        <form class="form set-up-form" action="/auth" method="POST">
            
            <div class="form-group col-4 ">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"name="name" >
                
            </div>

            <div class="form-group col-4">
                <label for="exampleInputPassword1">Password</label>
                <input type="text" class="form-control" id="exampleInputPassword1" aria-describedby="emailHelp"name="password" >
                
            </div>

            <div class="sub">
                <button type="submit" class="btn btn-primary" >Submit</button>
            </div>

        </form>
      
</body>