    <link rel="stylesheet" href="/setup-style.css">
    
    <div class="set-up-form">
        <h1>FINISH</h1>
        <h3>Winner</h3>
        <h3>Is</h3>
        <h2>{{nameW}}</h2>
        <h3>2nd Place</h3>
        <h3>Is</h3>
        <h2>{{nameL}}</h2>
        <h4>Total Score</h4>
        <h6>{{scoreA}}:{{scoreB}}</h6>

    </div>
